In [251]:
import pandas as pd
from IPython.core.display import display,HTML

In [5]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [9]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [10]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [15]:
total_schools = school_data["school_name"].count()
total_schools

15

In [16]:
total_students = student_data["student_name"].count()
total_students

39170

In [17]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [24]:
average_math = student_data["math_score"].mean()
average_math

78.98537145774827

In [28]:
average_reading = student_data["reading_score"].mean()
average_reading

81.87784018381414

In [32]:
passing_math= student_data.query('math_score >=70')["Student ID"].count()/ total_students*100
passing_math

74.9808526933878

In [34]:
passing_reading= student_data.query('reading_score >=70')["Student ID"].count()/ total_students*100
passing_reading

85.80546336482001

In [43]:
overall_passing= student_data.query('reading_score >=70 and math_score >=70')["Student ID"].count()/ total_students*100
overall_passing

65.17232575950983

In [254]:
total_df = pd.DataFrame({
    "Total schools":[total_schools],
    "Total students":[f"{total_students:,.2f}"],
    "Total budget":[f"${total_budget:,.2f}"],
    "Average Math Score":[f"{average_math:.2f}"],
    "Average Reading Score":[f"{average_reading:.2f}"],
    "% Passing Math":[f"{passing_math:.2f}%"],
    "% Passing Reading":[f"{passing_reading:.2f}%"],
    "% Overall Passing":[f"{overall_passing:.2f}%"]
    
})
display(HTML("<h2>District Summary</h2>"))
total_df

,Total schools,Total students,Total budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"1,635.00","$24,649,428.00",83.42,83.85,93.27%,97.31%,90.95%

In [244]:
#a=pd.DataFrame(student_data.groupby("school_name")[["math_score","reading_score"]].mean())
#b=pd.DataFrame(student_data.groupby("school_name").size())
#a.merge(b, left_index=True, right_index=True)
result= {}

for school in student_data.school_name.unique():
    school_students= student_data.query(f'school_name=="{school}"')
    total_students= len(school_students)
    average_reading = school_students["reading_score"].mean()
    average_math = school_students["math_score"].mean()
    passing_math= school_students.query('math_score >=70')["Student ID"].count()/ total_students*100

    passing_reading= school_students.query('reading_score >=70')["Student ID"].count()/ total_students*100
    
    overall_passing= school_students.query('reading_score >=70 and math_score >=70')["Student ID"].count()/ total_students*100
    result[school]={
        "Total students":f"{total_students}",
        "Average Math Score":f"{average_math:.2f}",
        "Average Reading Score":f"{average_reading:.2f}",
        "TStudents": total_students,
        "AMathScore": average_math,
        "AReadingScore": average_reading,
        "%PassingMath":passing_math,
        "%PassingReading": passing_reading,
        "%OverallPassing": overall_passing,
        "% Passing Math":f"{passing_math:.2f}%",
        "% Passing Reading":f"{passing_reading:.2f}%",
        "% Overall Passing":f"{overall_passing:.2f}%"
    }
    
result=pd.DataFrame(result).transpose()

In [245]:
formatted_columns = ["Total students", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]
result[formatted_columns]

,Total students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Huang High School,2917,76.63,81.18,65.68%,81.32%,53.51%
Figueroa High School,2949,76.71,81.16,65.99%,80.74%,53.20%
Shelton High School,1761,83.36,83.73,93.87%,95.85%,89.89%
Hernandez High School,4635,77.29,80.93,66.75%,80.86%,53.53%
Griffin High School,1468,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,2283,83.27,83.99,93.87%,96.54%,90.58%
Cabrera High School,1858,83.06,83.98,94.13%,97.04%,91.33%
Bailey High School,4976,77.05,81.03,66.68%,81.93%,54.64%
Holden High School,427,83.80,83.81,92.51%,96.25%,89.23%
Pena High School,962,83.84,84.04,94.59%,95.95%,90.54%
Wright High School,1800,83.68,83.95,93.33%,96.61%,90.33%
Rodriguez High School,3999,76.84,80.74,66.37%,80.22%,52.99%
Johnson High School,4761,77.07,80.97,66.06%,81.22%,53.54%
Ford High School,2739,77.10,80.75,68.31%,79.30%,54.29%
Thomas High School,1635,83.42,83.85,93.27%,97.31%,90.95%

In [175]:
school_index=school_data.set_index("school_name")
school_index

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [246]:
merge_df= result.merge(school_index, left_index=True, right_index=True)
merge_df["Per Student Budget"]=merge_df.budget/merge_df["size"]
merge_df=merge_df.drop(columns=["School ID","size"])
merge_df[formatted_columns + ["type","budget","Per Student Budget"]]

,Total students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,type,budget,Per Student Budget
Huang High School,2917,76.63,81.18,65.68%,81.32%,53.51%,District,1910635,655.0
Figueroa High School,2949,76.71,81.16,65.99%,80.74%,53.20%,District,1884411,639.0
Shelton High School,1761,83.36,83.73,93.87%,95.85%,89.89%,Charter,1056600,600.0
Hernandez High School,4635,77.29,80.93,66.75%,80.86%,53.53%,District,3022020,652.0
Griffin High School,1468,83.35,83.82,93.39%,97.14%,90.60%,Charter,917500,625.0
Wilson High School,2283,83.27,83.99,93.87%,96.54%,90.58%,Charter,1319574,578.0
Cabrera High School,1858,83.06,83.98,94.13%,97.04%,91.33%,Charter,1081356,582.0
Bailey High School,4976,77.05,81.03,66.68%,81.93%,54.64%,District,3124928,628.0
Holden High School,427,83.80,83.81,92.51%,96.25%,89.23%,Charter,248087,581.0
Pena High School,962,83.84,84.04,94.59%,95.95%,90.54%,Charter,585858,609.0
Wright High School,1800,83.68,83.95,93.33%,96.61%,90.33%,Charter,1049400,583.0
Rodriguez High School,3999,76.84,80.74,66.37%,80.22%,52.99%,District,2547363,637.0
Johnson High School,4761,77.07,80.97,66.06%,81.22%,53.54%,District,3094650,650.0
Ford High School,2739,77.10,80.75,68.31%,79.30%,54.29%,District,1763916,644.0
Thomas High School,1635,83.42,83.85,93.27%,97.31%,90.95%,Charter,1043130,638.0

In [247]:
merge_df= merge_df.rename(columns={"type":"School Type",
                                "budget":"Total Budget",
                                    })
                                            
                                              
merge_df

,Total students,Average Math Score,Average Reading Score,TStudents,AMathScore,AReadingScore,%PassingMath,%PassingReading,%OverallPassing,% Passing Math,% Passing Reading,% Overall Passing,School Type,Total Budget,Per Student Budget
Huang High School,2917,76.63,81.18,2917,76.6294,81.1827,65.6839,81.3164,53.5139,65.68%,81.32%,53.51%,District,1910635,655.0
Figueroa High School,2949,76.71,81.16,2949,76.7118,81.158,65.9885,80.7392,53.2045,65.99%,80.74%,53.20%,District,1884411,639.0
Shelton High School,1761,83.36,83.73,1761,83.3595,83.7257,93.8671,95.8546,89.8921,93.87%,95.85%,89.89%,Charter,1056600,600.0
Hernandez High School,4635,77.29,80.93,4635,77.2898,80.9344,66.753,80.863,53.5275,66.75%,80.86%,53.53%,District,3022020,652.0
Griffin High School,1468,83.35,83.82,1468,83.3515,83.8168,93.3924,97.139,90.5995,93.39%,97.14%,90.60%,Charter,917500,625.0
Wilson High School,2283,83.27,83.99,2283,83.2742,83.9895,93.8677,96.5396,90.5826,93.87%,96.54%,90.58%,Charter,1319574,578.0
Cabrera High School,1858,83.06,83.98,1858,83.0619,83.9758,94.1335,97.0398,91.3348,94.13%,97.04%,91.33%,Charter,1081356,582.0
Bailey High School,4976,77.05,81.03,4976,77.0484,81.034,66.6801,81.9333,54.6423,66.68%,81.93%,54.64%,District,3124928,628.0
Holden High School,427,83.80,83.81,427,83.8033,83.815,92.5059,96.2529,89.2272,92.51%,96.25%,89.23%,Charter,248087,581.0
Pena High School,962,83.84,84.04,962,83.8399,84.0447,94.5946,95.9459,90.5405,94.59%,95.95%,90.54%,Charter,585858,609.0
Wright High School,1800,83.68,83.95,1800,83.6822,83.955,93.3333,96.6111,90.3333,93.33%,96.61%,90.33%,Charter,1049400,583.0
Rodriguez High School,3999,76.84,80.74,3999,76.8427,80.7447,66.3666,80.2201,52.9882,66.37%,80.22%,52.99%,District,2547363,637.0
Johnson High School,4761,77.07,80.97,4761,77.0725,80.9664,66.0576,81.2224,53.5392,66.06%,81.22%,53.54%,District,3094650,650.0
Ford High School,2739,77.10,80.75,2739,77.1026,80.7463,68.3096,79.299,54.2899,68.31%,79.30%,54.29%,District,1763916,644.0
Thomas High School,1635,83.42,83.85,1635,83.4183,83.8489,93.2722,97.3089,90.948,93.27%,97.31%,90.95%,Charter,1043130,638.0

In [255]:
school_summary=merge_df[["School Type","Total students","Total Budget","Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]]
school_summary['Total Budget']=school_summary['Total Budget'].map('${:,.2f}'.format)
school_summary['Per Student Budget']=school_summary['Per Student Budget'].map('${:,.2f}'.format)

display(HTML("<h2>School Summary</h2>"))
school_summary.sort_index()

<ipython-input-255-9f4899d9d389>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_summary['Total Budget']=school_summary['Total Budget'].map('${:,.2f}'.format)
<ipython-input-255-9f4899d9d389>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_summary['Per Student Budget']=school_summary['Per Student Budget'].map('${:,.2f}'.format)

,School Type,Total students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

In [256]:
school_summary= school_summary.sort_values("% Overall Passing", ascending=False)

display(HTML("<h2>Top Performing Schools (By % Overall Passing)</h2>"))
school_summary.head()

,School Type,Total students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

In [257]:
school_summary= school_summary.sort_values("% Overall Passing", ascending=True)
display(HTML("<h2>Bottom Performing Schools (By % Overall Passing)</h2>"))
school_summary.head()

,School Type,Total students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

In [263]:
nineth_grade = student_data[(student_data["grade"] == "9th")]
tenth_grade = student_data[(student_data["grade"] == "10th")]
eleventh_grade = student_data[(student_data["grade"] == "11th")]
twelfth_grade = student_data[(student_data["grade"] == "12th")]

nineth_grade_scores = nineth_grade.groupby(["school_name"]).mean()["math_score"]
tenth_grade_scores = tenth_grade.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_scores = eleventh_grade.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_scores = twelfth_grade.groupby(["school_name"]).mean()["math_score"]


scores_by_grade_df = pd.DataFrame({"9th": nineth_grade_scores,
                                "10th":tenth_grade_scores,
                                "11th":eleventh_grade_scores,
                                "12th":twelfth_grade_scores
                                
                                
 
    
    
})



scores_by_grade_df.index.name = None

scores_by_grade_df = scores_by_grade_df [["9th", "10th", "11th", "12th"]]

display(HTML("<h2>Math Scores by Grade</h2>"))
scores_by_grade_df

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [264]:
nineth_grade = student_data[(student_data["grade"] == "9th")]
tenth_grade = student_data[(student_data["grade"] == "10th")]
eleventh_grade = student_data[(student_data["grade"] == "11th")]
twelfth_grade = student_data[(student_data["grade"] == "12th")]

nineth_grade_scores = nineth_grade.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_scores = tenth_grade.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_scores = eleventh_grade.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_scores = twelfth_grade.groupby(["school_name"]).mean()["reading_score"]


scores_by_grade_df = pd.DataFrame({"9th": nineth_grade_scores,
                                "10th":tenth_grade_scores,
                                "11th":eleventh_grade_scores,
                                "12th":twelfth_grade_scores
                                
                                
 
    
    
})



scores_by_grade_df.index.name = None

scores_by_grade_df = scores_by_grade_df [["9th", "10th", "11th", "12th"]]
display(HTML("<h2>Reading Scores by Grade</h2>"))

scores_by_grade_df

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [157]:
grouped_data=school_summary.copy()

In [160]:
group_data= grouped_data[["Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading",
                                     "% Overall Passing"]]
group_data.head()

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,$650.00,77.07,80.97,66.06%,81.22%,53.54%

In [265]:
merge_df_2 = merge_df.copy()

merge_df_2["AMathScore"] = merge_df_2["AMathScore"].astype(float)
merge_df_2["AReadingScore"] = merge_df_2["AReadingScore"].astype(float)
merge_df_2["%PassingMath"] = merge_df_2["%PassingMath"].astype(float)
merge_df_2["%PassingReading"] = merge_df_2["%PassingReading"].astype(float)
merge_df_2["%OverallPassing"] = merge_df_2["%OverallPassing"].astype(float)

psg=merge_df_2["Per Student Budget"]  
bins=[0,584,630,645,675]
bin_names = ["< $584", "$585-629","$630-644","$645-675"]
merge_df_2["Spending ranges (Per Student)"] = pd.cut(psg, bins, labels=bin_names)

sch_spn_math_scores = merge_df_2.groupby(["Spending ranges (Per Student)"])["AMathScore"].mean()
sch_spn_reading_scores = merge_df_2.groupby(["Spending ranges (Per Student)"])["AReadingScore"].mean()
sch_spn_passing_math = merge_df_2.groupby(["Spending ranges (Per Student)"]).mean()["%PassingMath"]
sch_spn_passing_reading = merge_df_2.groupby(["Spending ranges (Per Student)"]).mean()["%PassingReading"]
sch_spn_overall_passing_rate = merge_df_2.groupby(["Spending ranges (Per Student)"]).mean()["%OverallPassing"]

score_by_school_spn_df = pd.DataFrame({"Average Math Score":sch_spn_math_scores,
                                    "Average Reading Score":sch_spn_reading_scores,
                                    "% Passing Math":sch_spn_passing_math,
                                    "% Passing Reading":sch_spn_passing_reading,
                                    "% Overall Passing Rate": sch_spn_overall_passing_rate})

display(HTML("<h2>Scores by School Spending</h2>"))
score_by_school_spn_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending ranges (Per Student),,,,,
< $584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

In [266]:



totst=merge_df_2["TStudents"].astype(float)  
bins=[0,1000,2001,5001]
bin_names = ["< 1000", "$1000-2000","$2000-5000"]
merge_df_2["School Size"] = pd.cut(totst, bins, labels=bin_names)
    
sch_spn_math_scores = merge_df_2.groupby(["School Size"])["AMathScore"].mean()
sch_spn_reading_scores = merge_df_2.groupby(["School Size"])["AReadingScore"].mean()
sch_spn_passing_math = merge_df_2.groupby(["School Size"]).mean()["%PassingMath"]
sch_spn_passing_reading = merge_df_2.groupby(["School Size"]).mean()["%PassingReading"]
sch_spn_overall_passing_rate = merge_df_2.groupby(["School Size"]).mean()["%OverallPassing"]

score_by_school_size_df = pd.DataFrame({"Average Math Score":sch_spn_math_scores,
                                    "Average Reading Score":sch_spn_reading_scores,
                                    "% Passing Math":sch_spn_passing_math,
                                    "% Passing Reading":sch_spn_passing_reading,
                                    "% Overall Passing Rate": sch_spn_overall_passing_rate})

display(HTML("<h2>Scores by School Size"))
score_by_school_size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
< 1000,83.821598,83.929843,93.550225,96.099437,89.883853
$1000-2000,83.374684,83.864438,93.599695,96.790680,90.621535
$2000-5000,77.746417,81.344493,69.963361,82.766634,58.286003

In [267]:
type= merge_df_2.groupby("School Type")

sch_spn_math_scores = merge_df_2.groupby(["School Type"])["AMathScore"].mean()
sch_spn_reading_scores = merge_df_2.groupby(["School Type"])["AReadingScore"].mean()
sch_spn_passing_math = merge_df_2.groupby(["School Type"]).mean()["%PassingMath"]
sch_spn_passing_reading = merge_df_2.groupby(["School Type"]).mean()["%PassingReading"]
sch_spn_overall_passing_rate = merge_df_2.groupby(["School Type"]).mean()["%OverallPassing"]

score_by_type_df = pd.DataFrame({"Average Math Score":sch_spn_math_scores,
                                    "Average Reading Score":sch_spn_reading_scores,
                                    "% Passing Math":sch_spn_passing_math,
                                    "% Passing Reading":sch_spn_passing_reading,
                                    "% Overall Passing Rate": sch_spn_overall_passing_rate})

display(HTML("<h2>Scores by School Type"))
score_by_type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208